<h4>Agregar personaje</h4>
<form class="row" (ngSubmit)="emitCharacter()">
    <div class="form-group">
        <!-- <label for="name">Nombre</label> -->
        <input
            type="text"
            [(ngModel)]="character.name"
            name="name"
            class="form-control mb-2"
            id="name"
            placeholder="Nombre">
    </div>

    <div class="form-group">
        <!-- <label for="power">Poder</label> -->
        <input
            type="number"
            [(ngModel)]="character.power"
            name="power"
            class="form-control mb-2"
            id="power"
            placeholder="Poder">
    </div>

    <button
        type="submit"
        class="btn btn-primary">
            Agregar
    </button>

    <!-- <pre>{{ character | json }}</pre> -->
</form>

